
__pycache__/
*.h5
*.pt
*.egg-info/
ckpts/

raw_data/
timm/
.vscode/

deploy_dir/
deploy_vis_dir/
ablation_data/

training_data_example/
sample/
bowl-blue-grey0/
raw_data_example/
record/
*.pt
*.png
*.zip
*.ply
ZED_SDK_Ubuntu20_cuda12.1_v4.2.1.zstd.run